# Configuración de la Base de Datos PostgreSQL
DB_NAME=nombre_base_datos
DB_USER=usuario
DB_PASSWORD=contraseña
DB_HOST=localhost
DB_PORT=5432

# Configuración Django
SECRET_KEY=tu-secret-key-aqui
DEBUG=True
